<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home</title>
    <link rel="shortcut icon" href="#">
     <!-- Google Web Fonts -->
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Roboto:wght@500;700&display=swap"
         rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">


    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    {% comment %} <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> {% endcomment %}
    
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome-all.min.css' %}">
    {% comment %} <link rel="stylesheet" href="{% static 'assets/css/bs-theme-overrides.css' %}"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'assets/css/animated-services.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Articles-Cards-images.css' %}">
    {% comment %} <link rel="stylesheet" href="{% static 'assets/css/Navbar-Right-Links-icons.css' %}"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
    {% comment %} <link rel="stylesheet" href="{% static 'assets/css/styles2.css' %}"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'assets/css/footer.css' %}">
    <link href="{% static 'assets/lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">


</head>
<body>
    <header id="header" class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand logo" href="#">Intelligent Reader</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/' %}active{% endif %}" aria-current="page" href="/">Home</a>
                    </li>
                   
                </ul>
                <a href="/login/" class="btn btn-outline-light get-started-btn" style="margin-left:200px;">Get Started</a>
            </div>
        </div>
    </header>
    
    <div class="container-fluid hero-header bg-light py-5 mb-5">
        <div class="container py-5">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6">
                    <h1 class="display-4 mb-3 animated slideInDown">Make Better Life With Intelligent OCR</h1>
                    <p class="animated slideInDown">Optical Character Recognition (OCR) is a technology used to convert different types of documents, such as scanned paper documents, PDF images captured by a digital camera, into editable and searchable data. It can significantly streamline data management, making it a valuable tool in digitizing texts, enabling machine processes such as cognitive computing, machine learning, and robotic process automation.</p>
                    <a href="https://aws.amazon.com/what-is/ocr/#:~:text=Optical%20Character%20Recognition%20(OCR)%20is,scan%20as%20an%20image%20file." class="btn btn-primary py-3 px-4 animated slideInDown"  target="_blank">Explore More</a>
                </div>
                <div class="col-lg-6 animated fadeIn" style="position: relative;">
                    <img class="img-fluid animated pulse infinite overlay" src="{% static 'assets/img/ocr_girl.jpg' %}" alt="" style="border-radius:50%; z-index: 1; max-width: 100%; max-height: 80%; visibility: visible;">
                </div>
                </div>
            </div>
        </div>
    </div>
    {% comment %} <div class="container">
        <div class="text">
            <h2>Welcome to Intelligent Reader</h2>
            <p><br><strong><span>OCR (Optical Character )</span></strong><span style="color: rgb(17, 17, 17);">&nbsp;is a powerful technology that transforms images of printed or handwritten text into machine-readable text formats. Whether you’re dealing with scanned documents, receipts, posters, or product labels, OCR extracts the textual content, making it accessible for further analysis and automation. With OCR, you can streamline processes, improve productivity, and unlock valuable insights from text data. 📄🔍</span><br><br></p>
        </div>
        <div class="image"><img class="image" src="https://i.pinimg.com/564x/59/32/29/593229739184504afd9507cc42a9cb86.jpg"></div>
    </div> {% endcomment %}
    {% comment %} <div style="padding-bottom: 0px;margin-top: -34px;padding-left: 66px;">
        <h1 style="padding-right: 0px;padding-left: 0px;margin-bottom: -4px;padding-top: 24px;margin-left: 320px;margin-top: 66px;"><span style="color: rgb(13, 156, 27);">Boost Your Productivity</span></h1>
    </div> {% endcomment %}
    
    <section id="services" class="services">
        <div class="container-md section-title">
            <div class="text-center">
                <h5 class="d-inline-block justify-content-lg-center" style="background-color: #e2d6b5;width: 120px;margin-left: 0px;border-radius: 30px;padding: 5px;margin-top: 20px;color: #ffffff;font-size: 18px;">SERVICES</h5>
                <h2 style="color: #75aadb;">We Offer Awesome<span style="color: #d12d33;"><strong>&nbsp;Services</strong></span></h2>
                <p class="d-inline-block" style="width: 50%;"><strong>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</strong><br>&nbsp; &nbsp;&nbsp;</p>
            </div>
            <div class="row">
                <div class="col-12 text-center col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="text-center icon-box">
                        <div class="icon"><i class="fab fa-dribbble" style="margin-bottom: 15px;"></i>
                            <h4 class="title">Lorem Ipsum<a href="#"></a></h4>
                            <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi<br>&nbsp; &nbsp; &nbsp;&nbsp;</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="text-center icon-box">
                        <div class="icon"><i class="fab fa-renren" style="margin-bottom: 15px;"></i>
                            <h4 class="title">Lorem Ipsum<a href="#"></a></h4>
                            <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi<br>&nbsp; &nbsp; &nbsp;&nbsp;</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="text-center icon-box">
                        <div class="icon"><i class="fab fa-codepen" style="margin-bottom: 15px;"></i>
                            <h4 class="title">Lorem Ipsum<a href="#"></a></h4>
                            <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi<br>&nbsp; &nbsp; &nbsp;&nbsp;</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="text-center icon-box">
                        <div class="icon"><i class="fab fa-telegram" style="margin-bottom: 15px;"></i>
                            <h4 class="title">Lorem Ipsum<a href="#"></a></h4>
                            <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi<br>&nbsp; &nbsp; &nbsp;&nbsp;</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% comment %} <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-bell"></svg>
    
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-bezier"></svg>

    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-cup"></svg> {% endcomment %}

    <!-- Facts Start -->
    <!-- Facts Start -->
    <div class="container-xxl bg-light py-5 my-5">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-4 col-md-6 text-center wow fadeIn" data-wow-delay="0.1s">
                    <img class="img-fluid mb-4" src="{% static 'assets/img/icon-9.png' %}" alt="">
                    <h1 class="display-4" data-toggle="counter-up">123456</h1>
                    <p class="fs-5 text-primary mb-0">Today Transactions</p>
                </div>
                <div class="col-lg-4 col-md-6 text-center wow fadeIn" data-wow-delay="0.3s">
                    <img class="img-fluid mb-4" src="{% static 'assets/img/icon-10.png' %}" alt="">
                    <h1 class="display-4" data-toggle="counter-up">123456</h1>
                    <p class="fs-5 text-primary mb-0">Monthly Transactions</p>
                </div>
                <div class="col-lg-4 col-md-6 text-center wow fadeIn" data-wow-delay="0.5s">
                    <img class="img-fluid mb-4" src="{% static 'assets/img/icon-2.png' %}" alt="">
                    <h1 class="display-4" data-toggle="counter-up">123456</h1>
                    <p class="fs-5 text-primary mb-0">Total Transactions</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Facts End -->

    <div class="container py-4 py-xl-5">
        <div class="row mb-4 mb-lg-5">
            <div class="col-md-8 col-xl-8 text-center mx-auto">
                <h2>Our Team</h2>
                <p class="w-lg-50">Curae hendrerit donec commodo hendrerit egestas tempus, turpis facilisis nostra nunc. Vestibulum dui eget ultrices.</p>
            </div>
        </div>
    </div>
    <section class="py-4 py-xl-5">
        <div class="row gy-4 row-cols-2 row-cols-md-4" style="padding-bottom: 0px;padding-left: 36px;margin-top: -152px;">
            <div class="col">
                <div class="card border-0 shadow-none">
                    <div class="card-body text-center d-flex flex-column align-items-center p-0"><img class="rounded-circle mb-3 fit-cover" width="130" height="130" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png">
                        <h5 class="fw-bold text-primary card-title mb-0"><strong>John Smith</strong></h5>
                        <p class="text-muted card-text mb-2">Erat netus</p>
                        <ul class="list-inline fs-6 text-muted w-100 mb-0">
                            <li class="list-inline-item text-center">
                                <div class="d-flex flex-column align-items-center"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-facebook">
                                    </svg></div>
                            </li>
                            <li class="list-inline-item text-center">
                                <div class="d-flex flex-column align-items-center"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-twitter">
                                    </svg></div>
                            </li>
                            <li class="list-inline-item text-center">
                                <div class="d-flex flex-column align-items-center"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-instagram">
                                    </svg></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-0 shadow-none">
                    <div class="card-body text-center d-flex flex-column align-items-center p-0"><img class="rounded-circle mb-3 fit-cover" width="130" height="130" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png">
                        <h5 class="fw-bold text-primary card-title mb-0"><strong>John Smith</strong></h5>
                        <p class="text-muted card-text mb-2">Erat netus</p>
                        <ul class="list-inline fs-6 text-muted w-100 mb-0">
                            <li class="list-inline-item text-center">
                                <div class="d-flex flex-column align-items-center"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-facebook">
                                    </svg></div>
                            </li>
                            <li class="list-inline-item text-center">
                                <div class="d-flex flex-column align-items-center"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-twitter">
                                    </svg></div>
                            </li>
                            <li class="list-inline-item text-center">
                                <div class="d-flex flex-column align-items-center"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-instagram">
                                        
                                    </svg></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-0 shadow-none">
                    <div class="card-body text-center d-flex flex-column align-items-center p-0"><img class="rounded-circle mb-3 fit-cover" width="130" height="130" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png">
                        <h5 class="fw-bold text-primary card-title mb-0"><strong>John Smith</strong></h5>
                        <p class="text-muted card-text mb-2">Erat netus</p>
                        <ul class="list-inline fs-6 text-muted w-100 mb-0">
                            <li class="list-inline-item text-center">
                                <div class="d-flex flex-column align-items-center"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-facebook">
                                        
                                    </svg></div>
                            </li>
                            <li class="list-inline-item text-center">
                                <div class="d-flex flex-column align-items-center"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-twitter">
                                        
                                    </svg></div>
                            </li>
                            <li class="list-inline-item text-center">
                                <div class="d-flex flex-column align-items-center"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-instagram">
                                    </svg></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-0 shadow-none">
                    <div class="card-body text-center d-flex flex-column align-items-center p-0"><img class="rounded-circle mb-3 fit-cover" width="130" height="130" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png">
                        <h5 class="fw-bold text-primary card-title mb-0"><strong>John Smith</strong></h5>
                        <p class="text-muted card-text mb-2">Erat netus</p>
                        <ul class="list-inline fs-6 text-muted w-100 mb-0">
                            <li class="list-inline-item text-center">
                                <div class="d-flex flex-column align-items-center"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-facebook">
                                    </svg></div>
                            </li>
                            <li class="list-inline-item text-center">
                                <div class="d-flex flex-column align-items-center"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-twitter">
                                    </svg></div>
                            </li>
                            <li class="list-inline-item text-center">
                                <div class="d-flex flex-column align-items-center"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-instagram">
                                    </svg></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <section>
            <div class="container-fluid text-center py-5">
                <p class="mb-4" style="font-size: 1.6rem;">Our Trusted Clients</p>
                <div class="row d-flex d-xl-flex justify-content-center m-auto justify-content-xl-center slider" id="slider">
                    <div class="col-auto d-inline-flex justify-content-center align-items-center align-content-center align-self-center slide"><a class="d-flex justify-content-center align-items-center" href="#" style="min-height: 7rem;"> <img class="m-3" src="{% static 'assets/img/brands/Borgmann_Claim.png'%}" style="max-width: 12rem;max-height: 5rem;"></a></div>
                    <div class="col-auto d-inline-flex justify-content-center align-items-center align-content-center align-self-center slide"><a class="d-flex justify-content-center align-items-center" href="#" style="min-height: 7rem;"> <img class="m-3" src="{% static 'assets/img/brands/CarLead-Logo-Mail_2024.png'%}" style="max-width: 12rem;max-height: 5rem;"></a></div>
                    <div class="col-auto d-inline-flex justify-content-center align-items-center align-content-center align-self-center slide"><a class="d-flex justify-content-center align-items-center" href="#" style="min-height: 7rem;"> <img class="m-3" src="{% static 'assets/img/brands/Asset%2011.png'%}" style="max-width: 12rem;max-height: 5rem;"></a></div>
                    <div class="col-auto d-inline-flex justify-content-center align-items-center align-content-center align-self-center slide"><a class="d-flex justify-content-center align-items-center" href="#" style="min-height: 7rem;"> <img class="m-3" src="{% static 'assets/img/brands/Logo_vdf_web.png'%}" style="max-width: 12rem;max-height: 5rem;"></a></div>
                    <div class="col-auto d-inline-flex justify-content-center align-items-center align-content-center align-self-center slide"><a class="d-flex justify-content-center align-items-center" href="#" style="min-height: 7rem;"> <img class="m-3" src="{% static 'assets/img/brands/Ravens%20Logo.png'%}" style="max-width: 12rem;max-height: 5rem;"></a></div>
                    <div class="col-auto d-inline-flex justify-content-center align-items-center align-content-center align-self-center slide"><a class="d-flex justify-content-center align-items-center" href="#" style="min-height: 7rem;"> <img class="m-3" src="{% static 'assets/img/brands/ATP.png'%}" style="max-width: 12rem;max-height: 5rem;"></a></div>
                    <div class="col-auto d-inline-flex justify-content-center align-items-center align-content-center align-self-center slide"><a class="d-flex justify-content-center align-items-center" href="#" style="min-height: 7rem;"> <img class="m-3" src="{% static 'assets/img/brands/huddlife-logo-var1-0CF25D-primary.png'%}" style="max-width: 12rem;max-height: 5rem;"></a></div>
                    <div class="col-auto d-inline-flex justify-content-center align-items-center align-content-center align-self-center slide"><a class="d-flex justify-content-center align-items-center" href="#" style="min-height: 7rem;"> <img class="m-3" src="{% static 'assets/img/brands/Logo.png'%}" style="max-width: 12rem;max-height: 5rem;"></a></div>
                    <div class="col-auto d-inline-flex justify-content-center align-items-center align-content-center align-self-center slide"><a class="d-flex justify-content-center align-items-center" href="#" style="min-height: 7rem;"> <img class="m-3" src="{% static 'assets/img/brands/Logo.gif'%}" style="max-width: 12rem;max-height: 5rem;"></a></div>
                    <div class="col-auto d-inline-flex justify-content-center align-items-center align-content-center align-self-center slide"><a class="d-flex justify-content-center align-items-center" href="#" style="min-height: 7rem;"> <img class="m-3" src="{% static 'assets/img/brands/logo_grefrath_phoenix.png'%}" style="max-width: 12rem;max-height: 5rem;"></a></div>
                </div>
            </div>
        </section>
        <div class="container" style="padding-top: 48px;">
            <div class="text-center p-4 p-lg-5">
                <p class="fw-bold text-primary mb-2">Intelligent Reader</p>
                <h1 class="fw-bold mb-4">Get Started with Us</h1><button class="btn btn-primary fs-5 me-2 py-2 px-4" type="button">Readmore</button><a class="btn btn-light fs-5 py-2 px-4" type="button" href="/register/">Register</a>
            </div>
        </div>
    </section>
    <hr>
    <footer class="footer">
        <div class="waves">
          <div class="wave" id="wave1"></div>
          <div class="wave" id="wave2"></div>
          <div class="wave" id="wave3"></div>
          <div class="wave" id="wave4"></div>
        </div>
        <ul class="social-icon">
          <li class="social-icon__item"><a class="social-icon__link" href="#">
              <ion-icon name="logo-facebook"></ion-icon>
            </a></li>
          <li class="social-icon__item"><a class="social-icon__link" href="#">
              <ion-icon name="logo-twitter"></ion-icon>
            </a></li>
          <li class="social-icon__item"><a class="social-icon__link" href="#">
              <ion-icon name="logo-linkedin"></ion-icon>
            </a></li>
          <li class="social-icon__item"><a class="social-icon__link" href="#">
              <ion-icon name="logo-instagram"></ion-icon>
            </a></li>
        </ul>
        <ul class="menu">
          <li class="menu__item"><a class="menu__link" href="#">Home</a></li>
          <li class="menu__item"><a class="menu__link" href="#">About</a></li>
          <li class="menu__item"><a class="menu__link" href="#">Services</a></li>
          <li class="menu__item"><a class="menu__link" href="#">Team</a></li>
          <li class="menu__item"><a class="menu__link" href="#">Contact</a></li>
    
        </ul>
        <p>&copy;2021 Nadine Coelho | All Rights Reserved</p>
      </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    {% comment %} <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script> {% endcomment %}

      <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
      <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>


      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {% comment %} <script src="{% static 'assets/js/Clients-Slider-slick.js' %}"></script>
    <script src="{% static 'assets/js/Clients-Slider-untitled.js' %}"></script> {% endcomment %}
    {% comment %} <script src="{% static 'assets/js/main2.js' %}"> </script> {% endcomment %}
    {% comment %} <script src="{% static 'assets/lib/wow/wow.min.js' %}"></script> {% endcomment %}
    {% comment %} <script src="{% static 'assets/lib/easing/easing.min.js' %}"></script> {% endcomment %}
    {% comment %} <script src="{% static 'assets/lib/waypoints/waypoints.min.js' %}"></script> {% endcomment %}
    {% comment %} <script src="{% static 'assets/lib/owlcarousel/owl.carousel.min.js' %}"></script> {% endcomment %}
    <script src="{% static 'assets/lib/counterup/counterup.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
    
</body>

</html>