.register-form form.custom-form {
  padding: 20px;
  box-sizing: border-box;
  background-color: #ffffff;
  box-shadow: 0 0 10px  rgba(0, 0, 0, 0.5);
  font: bold 10px sans-serif;
  text-align: center;
  margin: 20px;
  color: #333;
}

@media (max-width:400px) {
  .register-form form.custom-form {
    padding: 55px 10px;
  }
}

.logo-header {
  display: flex;
  align-items: center;
  justify-content: center; 
  margin-left:12px;
  padding-bottom:0px;
}

.logo {
  width: 50px;
  height:50px;
  margin-right: 10px;
  border-radius:50%
}
.logo-heading{
  margin-right:10px;
  color: #6caee0;
  font-weight: bold;
}

.register-form .custom-form h5 {
  display: inline-block;
  color: #4c565e;
  /* font-size: 14px; */
  font-weight: bold;
  text-align:center;
  padding: 0 10px 15px;
  margin-bottom: 30px;
  border-bottom: 2px solid rgb(108, 174, 224);
}

.register-form .custom-form .form-group {
  margin-bottom: 15px;
}

.register-form .custom-form .label-column {
  text-align: right;
  color: #5F5F5F;
}

@media (max-width:768px) {
  .register-form .custom-form .label-column {
    text-align: left;
  }
}

.register-form .custom-form .input-column {
  color: #5f5f5f;
  text-align: left;
}

 .form-control {
  /* color: #5f5f5f; */
  /* box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.5); */
  box-shadow: 0 0 10px  rgba(0.09, 0.09, 0.09, 0.09);
  /* padding: 12px;*/
  /* border: 1px solid #dbdbdb; */
  /* border-radius: 2px; */
  height: 35px; 
} 

/* .register-form .custom-form .dropdown .dropdown-toggle {
  background: #fff;
  border: 1px solid #dbdbdb;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  color: #333;
  outline: none;
}

.register-form .custom-form .dropdown ul {
  background: #fff;
}

.register-form .custom-form .dropdown ul li a {
  background: #fff;
  color: #333;
  opacity: 0.8;
}

.register-form .custom-form .dropdown ul li a:hover {
  opacity: 1;
}
*/
.register-form .custom-form .submit-button {
  border-radius: 2px;
  background: #6caee0;
  color: #ffffff;
  font-weight: bold;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  padding: 5px 100px;
  border: 0;
  /* margin: 10px; */
  outline: none;
}
 
.field-icon {
  float: right;
  margin-right:15px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}

.form-control {
  width: 100%;
  padding-right: 30px; /* Make room for the eye icon */
}

.googlelogo{
  width: 20px; 
  filter: brightness(100%);
  margin-left:0px !important;
}

.gp-login {
  background-color: transparent;
  margin-top:10px;
}

.login-box-content i {
  /* padding: 11px 0px 11px 15px; */
  color: white;
  padding-right: 20px;
  padding-left: 80px;
  font-size: 18px;
}